.app header {
	text-align: center;
	background-color: #4da6ff;
	padding: 20px;
	color: white;
}

.app main {
	background-color: white;
	padding: 10px;
}

@media screen and (min-width: 768px) {
	.app main {
		width: 80%;
		margin: 0 auto;
	}
}
